<div class="not-found-page">
    <div class="not-found-card">
        <img src="../../assets/images/404codelab.png" alt="notfound">
        <div class="not-found-message">
            <span class="warning">Oops!<br>Página não encontrada!</span>
            <span class="warning-sub-text">Desculpa! Não conseguimos encontrar o que você procura.</span>
            <button mat-flat-button color="primary" class="submit-btn">
                Ir para página principal
            </button>
        </div>
    </div>
</div>